* {
  /* https://www.w3schools.com/ */
  box-sizing: border-box; /* The width,height properties(and min/max) includes content,padding,border */
}

body {
  background-color: #ffffff;
  padding: 20px;
  font-family: Verdana;
}
/* Center website */
main {
  display: block;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 40px;
  word-break: break-word;
  text-align: center;
}
h2 {
  font-size: 25px;
  word-break: break-word;
  text-align: center;
}
h3 {
  font-size: 18px;
  word-break: break-word;
  text-align: center;
}
.content {
  width: 1200px;
  background-color: white;
  padding: 5px;
  page-break-before:always;
}


.picture {
  display: block;
  width: 95%;  /* 1000px */
  height: 900px; /* 700px 800px */
  margin-left: auto;
  margin-right: auto;
  object-fit:contain; /*alt:scale-down*/
  
}
.clip {
  width: auto; /* 150px*/
  height: 150px;/* 150px*/
  margin-left: auto;
  margin-right: auto;
  object-fit:contain; /*alt:scale-down*/
}

.flex-container {
  margin-left: auto;
  width:98%; /*alt:1000px */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
	: auto;
}

.flex-container > div {
  background-color: #ffffff;
  width: 16%;/* 4*21=84 alt:150px */
  margin: 2%;/* 8*2*16 alt:20px */
  text-align: center;
  line-height: 16px; /* 15px */
  font-size: 12px; /* 11px */
  break-inside: avoid;
}
</style>